<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title>detail</title>
    </head>
    <body>
        
        <div class="card">
        <h5 class="card-header">Movie Info</h5>
            <img class="card-img-top" src="{{movie.Poster}}" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{movie.Title}}</h5>
            <p class="card-text">Type: {{movie.Type}}</p>
            <p class="card-text">Rated: {{movie.Rated}}</p>
            <p class="card-text">Genre: {{movie.Genre}}</p>
            Genre
            </div>
        </div>
        </div>
       


    </body>
</html>